.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
}
.grid-item {
    box-shadow: 5px 8px 10px #155B68;
    padding: 1vw;
    cursor: pointer;
    color: #D2D9E7;
    background: #05938C;
    margin-bottom: 1vh;
    justify-content: center;
    display: flex;
    align-items: center;
    max-height: 4vh;
    max-width: 16vw;
}
.selected {
background-color: #155c68e1;
}
.dias {
    font-size: 3.7vh;
    border-bottom: 2px solid #05938C;
    color: #155c68e1; 
    margin-bottom: 1vh;
    width: 16vw;
    font-weight: 600;
}
.titulo {
    margin-top: 1vh;
    font-size: 8vw;
    margin-bottom: 1vh;
}
.btn {
    margin-right: 1vw;
}
.header {
    text-align: center;
    font-size: 4vw;
    height: 7vh;
}
.seleccione {
    height: 3vh;
    font-size: 5vw;
    text-align: center;
}
.cuadrado {
    background-color: #155B68;
    height: 20vh;
    width: 120vw;
    left: -10%;
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 30%;
    padding: 1vh;
}
.horario {
    height: 70vh;
    margin-bottom: 1vh;
}