.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.grid-item {
    border: 1px solid #1F3040;
    padding: 1vw;
    text-align: center;
    cursor: pointer;
    color: #ffff;
    margin-bottom: 1vh;
}
.selected {
background-color: #87bdbe;
}
.dias {
    font-size: 4vw;
    text-decoration-line: underline;
}
.titulo {
    margin-top: 1vh;
    font-size: 8vw;
    margin-bottom: 1vh;
}
.btn {
    margin-right: 1vw;
}
.header {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 5vh;
}

.cuadrado {
    background-color: #155B68;
    height: 50vh;
    border-radius: 40px;
    padding: 1vh;
}