.page {
    display: flex;
    align-items: center;
}
.content {
    flex-grow: 1;
    position: relative;
}
.grid{
    text-align: center;
    margin-top: 35vh;
}
.title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1%;
    font-family: "Roboto",sans-serif;
}
.row {
    margin-top: 5vh;
    margin-left: 20%;
    margin-right: 20%;
    max-height: 40px;
}
.forget {
    overflow: visible;
    font-size: 10px;
    color: #fff;
    font-weight: 700;
}
.top {
    align-items: center;
    display: flex;
    justify-content: center;
}
.logo {
    top: 5%;
    width: 20vh;
    position: absolute;
}
.inputs {
    color: #155B68;
    font-weight: 600;
    height: 10px;
    background-color: #D2D9E7;
    border-radius: 30px;
    border: 2px solid #05938C;
    box-shadow: 1px 10px 30px #155B68;
}
.circle {
    width:130vw;
    height :60vh;
    position: absolute;
    top: -30%;
    left: -15%;
    border-radius: 50%;
    background: #155B68;
}
.circles {
    width:130vw;
    position: absolute;
    bottom: -30%;
    left: -15%;
    background: #155B68;
    height :60vh;
    border-radius: 50%;
  }
.log {
    margin-top:15vh;
    margin-bottom:10px;
}
button.alert-button.alert-button-cancel {
    color: #fff;
}