.inp {
    width: 60vw;
    color: #155B68;
    box-shadow: 1px 10px 30px #155B68;
    font-weight: 600;
    height: 10px;
    background-color: #D2D9E7;
    border-radius: 30px;
    border: 2px solid #05938C;
    bottom: 0px;
    position: absolute;
}
.label {
    position: absolute;
    left: -5vh;
    top: 1vh;
}
.label2 {
    position: absolute;
    left: -6vh;
    top: 1vh;
}
.label3
{
    position: absolute;
    left: 5vh;
    top: 1vh;
}
.contInput {
    height: 10vh;
    position: relative;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
}