.inp {
    width: 60vw;
    color: #155B68;
    box-shadow: 1px 10px 30px #155B68;
    font-weight: 600;
    height: 10px;
    background-color: #D2D9E7;
    border-radius: 30px;
    border: 2px solid #05938C;
    bottom: 0px;
    padding: 0px 10px !important;
}
.label {
    height: 2vh;
    z-index: 1;
}
.contInput {
    height: 10vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}