.cont {
    height: 100%;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 84vh;
    max-height: 84vh;
}