.rol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 60vw;
    width: fit-content;
}
.category {
    margin-bottom: 5px;
    width: 55vw;
}
.values {
    gap: 5px;
    border-bottom: #05938C 2px solid;
    font-weight: 600;
}
.options {
    border-radius: 30px;
    border: 2px solid #05938C;;
    background-color: #D2D9E7;
    font-weight: 600;
    color: #155B68;
    box-shadow: 1px 10px 30px #155B68;
    height:56px;
    width: 60vw;
    display: flex;
    overflow: scroll;
    flex-direction: column;
} 
.long {
    height: 15vh;
}
.reg {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1%;
    font-family: "Roboto",sans-serif;
    text-align: center;
    margin-top: 5vh;
}
.btn {
    text-align: center;
    margin-top: 1vh;
}