/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-background-color: #0BABA2;
	--ion-background-color-rgb: 11,171,162;

	--ion-text-color: #fff;
	--ion-text-color-rgb: 255,255,255;

	--ion-color-step-50: #17afa7;
	--ion-color-step-100: #23b3ab;
	--ion-color-step-150: #30b8b0;
	--ion-color-step-200: #3cbcb5;
	--ion-color-step-250: #48c0b9;
	--ion-color-step-300: #54c4be;
	--ion-color-step-350: #60c8c3;
	--ion-color-step-400: #6dcdc7;
	--ion-color-step-450: #79d1cc;
	--ion-color-step-500: #85d5d1;
	--ion-color-step-550: #91d9d5;
	--ion-color-step-600: #9dddda;
	--ion-color-step-650: #aae2de;
	--ion-color-step-700: #b6e6e3;
	--ion-color-step-750: #c2eae8;
	--ion-color-step-800: #ceeeec;
	--ion-color-step-850: #daf2f1;
	--ion-color-step-900: #e7f7f6;
	--ion-color-step-950: #f3fbfa;
  
  --ion-color-primary: #05938C;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  --ion-toolbar-background: #fff;

  --ion-tab-bar-background: #fff;

  --ion-card-background: #fff;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  
  
  .md body {
    --ion-background-color: #0BABA2;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #fff;
  	--ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #17afa7;
    --ion-color-step-100: #23b3ab;
    --ion-color-step-150: #30b8b0;
    --ion-color-step-200: #3cbcb5;
    --ion-color-step-250: #48c0b9;
    --ion-color-step-300: #54c4be;
    --ion-color-step-350: #60c8c3;
    --ion-color-step-400: #6dcdc7;
    --ion-color-step-450: #79d1cc;
    --ion-color-step-500: #85d5d1;
    --ion-color-step-550: #155B68;
    --ion-color-step-600: #9dddda;
    --ion-color-step-650: #aae2de;
    --ion-color-step-700: #b6e6e3;
    --ion-color-step-750: #c2eae8;
    --ion-color-step-800: #ceeeec;
    --ion-color-step-850: #daf2f1;
    --ion-color-step-900: #e7f7f6;
    --ion-color-step-950: #f3fbfa;
      
   

    --ion-toolbar-background: #fff;

    --ion-tab-bar-background: #fff;

    --ion-card-background: #fff;
  }
}
