.page {
    display: flex;
    align-items: center;
}
.content {
    flex-grow: 1;
    position: relative;
}
.grid{
    margin-top: 28vh;
}
.title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1%;
    font-family: "Roboto",sans-serif;
    text-align: center;
}
.row {
    margin-top: 5vh;
    margin-left: 20%;
    margin-right: 20%;
    max-height: 40px;
}
.forget {
    overflow: visible;
    font-size: 10px;
    font-weight: 700;
}
.logo {
    top: 2%;
    left: 73%;
    width: 25%;
    position: absolute;
}
.circle {
    width:65%;
    height :65vw;
    position: absolute;
    top: -10vh;
    left: 60vw;
    border-radius: 50%;
    background: #c2c0ba;
}
.circles {
    width:200vw;
    position: absolute;
    top: 70vh;
    left: -50vw;background: #155B68;
    height :200vw;
    border-radius: 50%;
  }
.log {
margin-top:17vh;
margin-bottom:10px;
}