.contInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.titleInfo {
    z-index: 1;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2vh;
}
.selectTutor {
  z-index: 1;  
  margin-bottom: 2vh;
}
.divTutor {
    justify-content: center;
    z-index: 1;
}
.btnInfo {
    margin-top: 2vh;
    text-align: center;
}
.contModal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
}
.titleModal {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 3vh;
}