.rol {
    display: flex;
    align-items: right;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 60vw;
}
.category {
    margin-right: 0vw;
}
.options {
    border-radius: 20px;
    border: 2px solid #465869;
    background-color: #D9D9D9;
    padding-left: 2vw;
    padding-top:0.3vh;
    height: 7vh;
    width: 60vw;
    color: rgb(0, 0, 0);
} 
.reg {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1%;
    font-family: "Roboto",sans-serif;
    text-align: center;
    margin-top: 5vh;
}
.btn {
    text-align: center;
    margin-top: 5vh;
}