.rol {
    display: flex;
    align-items: right;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 70vw;
}
.category {
    margin-right: 0vw;
}
.values {
    gap: 3px;
    border-bottom: #465869 2px solid;
}
.options {
    border-radius: 20px;
    border: 2px solid #465869;
    background-color: #D9D9D9;
    padding-left: 2vw;
    padding-top:0.3vh;
    height: 5vh;
    width: 60vw;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    color: rgb(0, 0, 0);
} 
.long {
    height: 15vh;
    
}
.reg {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1%;
    font-family: "Roboto",sans-serif;
    text-align: center;
    margin-top: 5vh;
}
.btn {
    text-align: center;
    margin-top: 5vh;
}