.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;;
  flex-direction: column;
}

@keyframes flipPages {

  0%,
  100% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }
}

.spinner {
  animation: flipPages 2s infinite;
  width: 40vw;
  height: 40vw;
}