.bubbleCont{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 14vh;
    width: 22vw;
    margin: 5px;
}
.topBubble {
    height: 78%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottomBubble {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}
.bubbleImg {
    height: 90px !important;
    position: absolute;
    top: 10px;
    width: 90px !important;
    border-radius: 50%;
    z-index: 0;
}
.bubbleText {
    color: #D2D9E7;
    font-size: 3.5vw;
}
.bubbleDot {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    z-index: 1;
    border: #D2D9E7 2px solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    overflow: visible;
    right: -35px;
    bottom: 35px;
    background-color: #2895A5;
}
.bubbleDot {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    z-index: 1;
    border: #D2D9E7 2px solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    overflow: visible;
    right: -35px;
    bottom: 35px;
    background-color: #2895A5;
}