.bubbleCont{
    display: flex;
    flex-direction: column;
    height: 15vh;
    width: 25vw;
    margin: 5px;
}
.topBubble {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottomBubble {
    height: 20%;
}
.bubbleImg {
    height: 100% !important;
    width: 100% !important;
    border-radius: 50%;
    z-index: 0;
}
.bubbleText {
    color: #D2D9E7;
    font-size: 1.5vh;
}
.bubbleDot {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    z-index: 1;
    border: #D2D9E7 2px solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    overflow: visible;
    right: -35px;
    bottom: 35px;
    background-color: #2895A5;
}
.bubbleDot {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    z-index: 1;
    border: #D2D9E7 2px solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    overflow: visible;
    right: -35px;
    bottom: 35px;
    background-color: #2895A5;
}